/* MentorLayout.module.css */

.layout {
  display: flex;
  background-color: var(--color-bg-primary);
}

.mainWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 240px;
  /* Sidebar width */
  width: calc(100% - 240px);
}

.mainContent {
  flex-grow: 1;
  padding: var(--spacing-xl);
  overflow-y: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
  .mainWrapper {
    margin-left: 0;
    width: 100%;
  }

  .mainContent {
    padding: var(--spacing-lg);
  }
}